*{
  font-family:'Courier New', Courier, monospace;
}
#header{
  background-color: black;
  color:white;
  font-weight: bolder;
}
#container{
  margin-top: 50px;
}
img{
  height: 80px;
}
p{
  margin-top: 20px;
}
.card{
  height:400px;
}
#lastNameData{
  margin-left: 20px;
}
#receipt{
  background-color: rgb(200, 198, 198);
  color:black;
  border-radius: 5px;
}
.alert{
  width:20%;
  margin: 20% 20%;
  border: 1px solid black;
  border-radius: 5px;
  display: none;
  height:100px;
}
#digitalReceipt{
  width:50%;
}
#shoppingCart{
  border: 1px solid black;
  height:400px;
  position: relative;
  right:0;
  left:60%;
}